/*
Yellow: #F0E77c
Pink: #FA95A3
Purple: #A392E0
Light Blue: #A0DCFA
Green: #95F3A3
Dark Indigo Background: #161766
*/

body {
    margin: 0;
    background-color: #161766;
    /*  */
    height: 100vh;
    display: flex;
    font-family: "Roboto", sans-serif;
}

h1 {
    margin-top: 0;
}

h1, h2 {
    font-family: "Poppins", sans-serif;
}

.title {
    font-size: 2.4em;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: auto;
}

.quiz-box {
    background-color: #fff;
    padding: 2em 3em;
    margin: 3em 1em;
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.3);
}

.quiz-question {
    margin: 1.5em 0;
    font-size: 20px;
}

.quiz-choices {
    font-size: 18px;
}

.choice {
    padding: 0.5em;
    border: 1px solid #abc4ff;
    margin-bottom: 0.5em;
    font-family: "Inconsolata", serif;
    font-size: 20px;
}

.choice-hover:hover {
    cursor: pointer;
    background-color: #B5FFFF;
    border-color: #B5FFFF;
}
.highlight {
    border: 2px solid #A0DCFA;
}
.correct {
    background-color: #95F3A3;
}

.incorrect {
    background-color: #FA95A3;
}

.next-btn {
    display: none;
}

footer {
    margin-top: 3em;;    
}

.quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Prevents flex-items from stretching to fill flex-container */
}

.quiz-counter {
    background-color: #A0DCFA;
    padding: 0.5em 0.8em;
}
.quiz-score {
    display: none;
    text-align: center;
}

.quiz-score h2 {
    background-color: #A0DCFA;
    padding: 0.4em;
    margin-top: 1.5em;
}

.next-btn {
    padding: 0.2em 0.7em;
    background-color: #A392E0;
    border: unset;
    text-transform: uppercase;
    font-family: "Poppins";
    font-size: 20px;
    outline: none;
}

.next-btn:hover, .replay-btn:hover {
    background-color: #616794;
    color: #fff;
}

.message {
    font-family: "Inconsolata", serif;
    font-size: 25px;
    margin-top: 1.5em;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 750px) {
    .quiz-box {
        margin: 1em 1em;
        padding: 2em;
    }

    .quiz-footer {
        display: block;
    }
}
